{% extends 'base.html' %}

{% block head_title %}Welcome | {{ block.super }} {% endblock %}

{% block content %}
<article>
	<h2>{{ course.title }}</h2>
	{{ course.description }}
	<section>
		{% for step in course.step_set.all %}
			<h3><a href="{% url 'courses:step' course_pk=step.course.pk step_pk=step.pk %}">{{ step.title }}</a></h3>
			{{ step.description }}
		{% endfor %}
	</section>
</article>
{% endblock %}