{% extends 'base.html' %}

{% block head_title %}Welcome | {{ block.super }} {% endblock %}

{% block content %}
 <div class="row">
	<div class="col-sm-12">
		<div class="cards">
			{% for course in courses %}
				<div class="card">
					<header><a href="{% url 'courses:detail' pk=course.pk %}">{{ course.title }}</a></header>
					<div class="card-copy">
						{{ course.description }}
					</div><!-- end card-copy -->
				</div><!-- end card -->
			{% endfor %}
		</div><!-- end cards -->
	</div><!-- end col-sm-12 -->
</div><!-- end row -->
{% endblock %}