{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {{ block.super }} {% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
    <h1>Add New Course</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    </div>
  </div>
{% endblock %}