{% extends "base.html" %}

{% block head_title %}Welcome | {{ block.super }} {% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
    	<h1>About Us</h1> 
    </div><!-- end col-sm-12-->
 </div><!-- end row -->

 <div class="row">
 	<div class="col-sm-12">
 		<article><p>KosAcademy it is a new company that offers online computer programming courses for all peoples who want to learn different programming languages.</p>
 		</article>
	
 	</div><!-- end col-sm-12 -->
 </div><!-- end row -->
{% endblock %}