{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %}Learnin Center{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
    <link href="{% static 'css/navbar-fixed-top.css' %}" rel="stylesheet">
    {% include 'head_css.html' %}
  </head>

  <body>
  <div class="container">
     <nav>
        <a href="{% url 'views.home' %}">Home</a>
        <a href="{% url 'courses:list' %}">Courses</a>
      </nav> 

         
    {% block content %}
    {% endblock%}
  </div><!-- end container -->
  </body>
</html>