{% extends 'base.html' %}

 {% block head_title %}Welcome | {{ block.super}}{% endblock %}

 <!--This is contact form -->
{% block content %}
{% if title %}
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h2 class="text-align-center">{{ title}}</h2>
		</div><!--end col-sm-6-->
	</div> <!--end row-->
{% endif %}

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
		<form method='POST' action=''>{% csrf_token %}

			{{ form }}

		<input class="btn btn-default" type='submit' value='Send' />

		</form>
		</div><!-- end col-sm-6 -->
	</div><!-- end row -->
{% endblock %}