 {% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load staticfiles %}

 {% block head_title %}Welcome | {{ block.super}}{% endblock %}

{% block main_content %}
{% if not user.is_authenticated %}
	<div class="row">
		<div class="col-sm-12">
		 <h1>Programming Training Classes</h1>
		        <p>Whether you're looking for customized in-person Programming training for a private group, a public online Programming class you can join, or a self-paced Programming course you can start immediately, KosAcademy has the solution for you.
		        <p>Start today and take your future in your hands.</p>
		        <p>
		          <a class="btn btn-lg btn-primary" href="{% url 'auth_login' %}" role="button">Start Here &raquo;</a>
		        </p>
		</div> <!-- end col-sm-12 -->
	</div> <!-- end row -->
{% endif %}
{% endblock %}

{% block table2_table %}
<h1>Programming Course Outlines </h1>
{% render_table table %}
{% endblock %}


