{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {{ block.super }} {% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-8">
    	<h1>My Courses</h1> 
    </div><!-- end col-sm-8-->
    	<div class="col-sm-4 pull-right">
    		<a href="{% url 'new_course' %}"><button type="button" class="btn btn-success">Add Course</button></a>
    	</div><!-- end col-sm-4 -->
 </div><!-- end row -->

 <div class="row">
 	<div class="col-sm-10">
 
			<table class="table">  
			        <thead>  
			          <tr>  
			            <th>ID</th>  
			            <th>Course Name</th>   
			            <th>Teacher</th>			         
			          </tr>  
			        </thead> 
			        <tbody> 
			        {% for course in courses %}    
			          <tr>			          		
			            <td>{{ course.id}}</td>  
			            <td>{{ course.title }} </td> 
			            <td>Ridvan Aliu</td>  
			            <td><a class="btn btn-default" href="{% url "course_edit" pk=course.pk %}">Edit</a>
			       
			            <a href="{% url 'new_course' %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
			          </tr>
			          {% endfor %}
			        </tbody>  
			      </table>
	
 	</div><!-- end col-sm-12 -->
 </div><!-- end row -->
{% endblock %}