{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {{ block.super }} {% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-8">
    	<h1>My Courses</h1> 
    </div><!-- end col-sm-8-->
    	<div class="col-sm-4 pull-right">
    		<a href="{% url 'new_course' %}"><button type="button" class="btn btn-warning">Add Course</button></a>
    	</div><!-- end col-sm-4 -->
 </div><!-- end row -->

 <div class="row">
 	<div class="col-sm-12">
			<table class="table">  
			        <thead>  
			          <tr>  
			            <th>Student-ID</th>  
			            <th>First Name</th>  
			            <th>Last Name</th>  
			            <th>Grade</th>  
			          </tr>  
			        </thead>  
			        <tbody>  
			          <tr>  
			            <td>001</td>  
			            <td>Rammohan </td>  
			            <td>Reddy</td>  
			            <td>A+</td>  
			          </tr>  
			          <tr>  
			            <td>002</td>  
			            <td>Smita</td>  
			            <td>Pallod</td>  
			            <td>A</td>  
			          </tr>  
			          <tr>  
			            <td>003</td>  
			            <td>Rabindranath</td>  
			            <td>Sen</td>  
			            <td>A+</td>  
			          </tr>  
			        </tbody>  
			      </table>
 	</div><!-- end col-sm-12 -->
 </div><!-- end row -->
{% endblock %}