<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top mynavbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">KosAcademy</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          {% if request.user.is_authenticated %}
           <li><a href="{% url 'userdashboard' %}">userdashboard</a></li>
            <li><a href="{% url 'mycourses' %}">My Courses</a></li>
             <li><a href="{% url 'users' %}">Users</a></li>
             <!-- <li><a href="{% url 'new_course' %}">Add Course</a></li> -->
             
             {% else %}
            <li><a href="{% url 'views.home' %}">Home</a></li>
            <li><a href="{% url 'courses:list' %}">Courses</a></li>
        
            <li><a href="{% url 'about' %}">About</a></li>
         <!--    <li><a href="{% url 'contact' %}">Contact</a></li> -->
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'auth_logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'auth_login' %}">Login</a></li>
          <li><a href="{% url 'registration_register' %}">Register</a></li>
          {% endif %}
            <!-- <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>