{% extends 'base.html' %}

 {% block head_title %}Welcome | {{ block.super}}{% endblock %}

 {% block content %}
    <h1>{{title}}</h1>
    <form method='POST' action=''>{% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="Submit" />
   <!-- <input type="text">
    <input> -->
    </form>
{% endblock %}