{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {{ block.super }} {% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
    	<h1>All Users</h1> 
    </div><!-- end col-sm-8-->
 </div><!-- end row -->
 <div class="row">
 	<div class="col-sm-10">
 
			<table class="table">  
			        <thead>  
			          <tr>  
			            <th>ID</th>  
			            <th>User Name</th>   			         
			          </tr>  
			        </thead> 
			        <tbody> 
			        {% for user in users %}    
			          <tr>			          		
			            <td>{{ user.id}}</td>  
			            <td>{{ user.name }} </td>   
			            <td><a class="btn btn-default" href="{% url "course_edit" pk=course.pk %}">Edit</a>
			       
			            <a href="{% url 'new_course' %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
			          </tr>
			          {% endfor %}
			        </tbody>  
			      </table>
	
 	</div><!-- end col-sm-12 -->
 </div><!-- end row -->
{% endblock %}