{% extends "base.html" %}

{% block head_title %}Welcome | {{ block.super }} {% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
      <h1>  All Courses</h1> 
    </div><!-- end col-sm-6-->
      <div class="col-sm-4 col-sm-offset-2 pull-right">
      <h1>All Users</h1>
      </div><!-- end col-sm-6 -->
 </div><!-- end row -->

 <div class="row">
  <div class="col-sm-10">
  
  </div><!-- end col-sm-12 -->
 </div><!-- end row -->
{% endblock %}